<%= bootstrap_nested_form_for([@profile, @requisition]) do |f| %>
  <% @form = f %>
  <% if @requisition.errors.any? and @requisition.errors.messages[:base]  %>
    <div class="alert alert-warning alert-dismissible">      
      <ul>
        <% @requisition.errors.messages.each do |message| %>
          <% if message[0] == :base %>
            <li><%= message[1][0] %></li>          
          <% end %>
        <% end %>
      </ul>      
    </div>
  <% end %>


  <div class="row">
    <!-- personal info -->
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="simple-box red-b">
        <h2><%= t(:personal_info) %></h2>
        <%= f.text_field :income, data: { role: 'money' } %>
        <%= f.number_field :address_years, min: 0 %>
        <%= f.select :marital_status, Requisition::MARITAL_STATES %>
        <%= f.number_field :dependents_number, min: 0 %>
        <%= f.check_box :has_sgmm %>
        <%= f.check_box :has_imss %>
        <%= f.check_box :has_car %>  
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="simple-box blue-b">
        <h2><%= t(:work_info) %></h2>
        <%= f.number_field :company_years, min: 0 %>
        <%= f.text_field :company_name %>    
        <%= f.text_field :company_phone_number, data: {role: 'phone'} %>      
        <%= f.text_field :company_position %>              
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="simple-box orane-b">
        <h2><%= t(:requisition) %></h2>
        <%= f.text_field :requested_amount, data: { role: 'money' } %>
        <%= f.select :payment_terms, Requisition::TERMS %>
        <%= f.text_field :bank %>
        <%= f.text_area :comment %>               
      </div>
    </div>
  </div>

  <h2>
    Referencias        
    <%= link_to_add_fields "Agregar", f, :personal_references %>    
  </h2>
  <div id="reference-container">     
    <%= f.fields_for :personal_references do |builder|%>     
      <%= render 'personal_reference_fields', f: builder %>
    <% end %>  
  </div>



  <div class="col-xs-12">
    <%= f.submit class: 'btn btn-success btn-block'%>
  </div> 
  
<% end %>



<script type="text/javascript">
  function remove_fields(link) {
    $(link).nextAll("input[type=hidden]")[0].value = "true";
    console.log($(link).nextAll("input[type=hidden]")[0])
    $(link).closest(".fields-to-remove").hide();
  }

  function add_fields(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g")    
    $(link).parent().after(content.replace(regexp, new_id));
    ready();  
  }

  function ready(){
    $(".remove-link").unbind();
    $(".link_to_add_fields").unbind();

    $(".remove-link").click((e) =>{      
      var link = e.target;
      remove_fields(link)   
    });

    $(".link_to_add_fields").click((e) =>{
      e.preventDefault();
      var link = $(e.target);      
      var association = link.data("association");
      var content = link.data("content");      
      add_fields(link, association, content);
    })
  }


  $(() => {ready();});
</script>