<h1>Listing Requisitions</h1>

<table class="table table-stripped table-condensed text-center">
  <thead>
    <tr>
      <th><%= trans(:requisition, :income) %></th>
      <th><%= trans(:requisition, :bank) %></th>
      <th><%= trans(:requisition, :address_years) %></th>
      <th><%= trans(:requisition, :company_years) %></th>
      <th><%= trans(:requisition, :marital_status) %></th>
      <th><%= trans(:requisition, :requested_amount) %></th>
      <th><%= trans(:requisition, :payment_terms) %></th>      
      <th><%= trans(:requisition, :company_name) %></th>
      <th><%= trans(:requisition, :company_phone_number) %></th>
      <th><%= trans(:requisition, :dependents_number) %></th>
      <th><%= trans(:requisition, :company_position) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requisitions.each do |requisition| %>
      <tr>
        <td><%= requisition.income %></td>
        <td><%= requisition.bank %></td>
        <td><%= requisition.address_years %></td>
        <td><%= requisition.company_years %></td>
        <td><%= requisition.marital_status %></td>
        <td><%= requisition.requested_amount %></td>
        <td><%= requisition.payment_terms %></td>        
        <td><%= requisition.company_name %></td>
        <td><%= requisition.company_phone_number %></td>
        <td><%= requisition.dependents_number %></td>
        <td><%= requisition.company_position %></td>
        <td><%= link_to t(:show), profile_requisition_path(current_profile,requisition) %></td>
        <td><%= link_to t(:edit), edit_profile_requisition_path(current_profile, requisition) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new_requisition), new_profile_requisition_path(current_profile) %>
