<!DOCTYPE html>
<html>
	<head>
	  <title>TestYotepresto</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= stylesheet_link_tag '/css/style'%>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>    
	  <%= csrf_meta_tags %>
	</head>
	
	<body>
    <!-- Navigation bar -->
		<nav class="navbar navbar-default">
      <div class="container-fluid">
        
        <!-- Burger icon (mobile) -->
        <div class="navbar-header">            
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag('/logo.jpg', class: 'logo'), root_path %>
        </div>

        <!-- Navbar content -->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">            
          </ul>
           <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li><%= link_to(current_profile.first_name, current_profile) %></li>
              <li><%= link_to(t(:new_requisition), new_profile_requisition_path(current_profile)) %></li>
              <li><%= link_to("Cerrar sesión", signout_path, id: 'sign_out')%></li>
            <% else %>
              <li>                
                <%= link_to "Iniciar Sesión", signin_path %>
              </li>
            <% end %>
          </ul>
        </div>

      </div>
    </nav>
    
    <!-- Main content -->
    <div class="container">

      <!-- Flash section -->
      <% flash.each do |key, value| %>
        <% case key %>
          <% when 'notice' %>
            <div class="alert alert-success alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <%= value %>
            </div>
          <% when 'error' %>
            <div class="alert alert-danger alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <%= value %>
            </div>
          <% else %>
            <div class="alert alert-info alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <%= value %>
            </div>
        <% end %>
      <% end %>  

		  <%= yield %>
      
    </div>
	</body>  
</html>